body {
  font-family: Arial, sans-serif;
  background-color: #ca3232;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgb(114, 161, 3);
}

h1 {
  text-align: center;
  color: white;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid rgb(241, 235, 235);
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#result {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
